<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <img src="images/rordorf-icon.jpg" alt="Rordorfscher Familienfonds, gegründet in Zürich 1710">
      </div><div class="teaser">
        <h1>Rordorfscher Familienfonds</h1>
        <h2>gegründet in Zürich 1710</h2>
      </div>
    </div>
    <ul class="navigation">
      <li>
        <a href="/">
          Startseite
        </a>
      </li>
      <li>
        <a href="/pages/about">
          Über die Familie
        </a>
      </li>
      <li>
        <a href="/pages/about-fonds">
          Über den Fonds
        </a>
      </li>
      <li>
        <a href="/pages/calendar">
          Kalender
        </a>
      </li>
    </ul>
    <div class="main">