<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
  <div class="container">
    <div class="header">
      <h1>Rordorfscher Familienfonds</h1>
      <h2>gegründet in Zürich 1710</h2>
    </div>
    <ul class="navigation">
      <li>
        <a href="#">
          Startseite
        </a>
      </li>
      <li>
        <a href="#">
          Über die Familie
        </a>
      </li>
      <li>
        <a href="#">
          Über den Fonds
        </a>
      </li>
      <li>
        <a href="#">
          Kalender
        </a>
      </li>
      <li>
        <a href="#">
          Mitgliedschaft
        </a>
      </li>
      <!--<li>Dokumente</li>-->
    </ul>
    <div class="main">