    <!-- common meta stuff -->
    <base href="{{ $.Site.BaseURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='language' content='DE'>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{{ .Site.Params.appKeywords }}" />
    <meta name="theme-color" content="{{ .Site.Params.appColor }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.appTitle }}">
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='{{ .Site.Params.appTitle }}'>
    <meta name='msapplication-navbutton-color' content='{{ .Site.Params.appColor }}'>
    <meta name="msapplication-TileColor" content="{{ .Site.Params.appColor }}" />
    <meta name="twitter:site" content="@rordorfd" />
    <meta property="og:site_name" content="{{ .Site.Params.appTitle }}" />
    <link rel="icon" href="images/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="images/favicon-192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="images/favicon-180.png" />
    <meta name="msapplication-TileImage" content="images/favicon-270.png" />
    <!-- pace.js progress bar -->
    <style>.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pace-inactive{display:none}.pace .pace-progress{background:{{ .Site.Params.appColor }};position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px}</style>
    <script src="/pace/pace.js"></script>
    <link rel="stylesheet" href="css/main.css" />