<div class="navbar">
    <button id="toggler" class="toggler" type="button">
        <div class="animated-menu-icon" id="togglericon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </button>
    <div id="collapsible">
        <ul class="menu" id="menu">
            <li>
                <a href="/">
                    Startseite
                </a>
            </li>
            <li>
                <a href="/about-family/">
                    Über die Familie
                </a>
            </li>
            <li>
                <a href="/about-foundation/">
                    Über den Fonds
                </a>
            </li>
            <li>
                <a href="/event/">
                    Kalender
                </a>
            </li>
            <li>
                <a href="/documents/">
                    Dokumente
                </a>
            </li>
        </ul>
    </div>
</div>