<!doctype html>
<html lang="de">
{{partial "head-site" . }}
<body>
<div class="container">
  {{ partial "header" . }}
  {{ partial "navbar" . }}
  <div class="main">
    {{ if eq .Kind "taxonomy" }}
      <h2>Beiträge: {{ .Title }}</h2>
    {{ end }}
    <article>
      {{ .Content }}
    </article>
    <div class="cards">
      <div class="cards-sizer"></div>
      {{ range .Site.Pages.GroupByDate "2006" }}
        {{ range .Pages }}
          {{ .Render "card" }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>
