article {

  .featuredimage {
    min-width: 200px;
    width: 30%;
    max-width: 400px;
    display: block;
    float: right;
    margin: 0.5em 0 1em 1em;
    padding:2px;
    border: 1px solid $lightgray;

    @include media("<=phone") {
      width: 100%;
      float: none;
      margin: 1em 0;
    }
  }

  .gallery {
    display: block;
    clear: both;

    &:after {
      clear: both;
    }

    .images-sizer, .image {
      width: 33.333%; // 3 cols

      @include media("<=tablet") {
        width: 100%; // 1 col
      }

      @include media(">tablet", "<mega") {
        width: 50%; // 2 cols
      }
    }

    .image {
      float: left;

      img {
        width: 100%;
        height: auto;
        padding: 5px 7px;
      }
    }
  }

  img.bookcover {
    width: 150px;
    height: auto;
    margin: 0 1em 1em 0;
    border: 3px solid $lightgray;
    float: left;
  }

  .author,
  .date,
  .wordcount,
  .type,
  .tag,
  .category {
    display: inline-block;
    white-space: nowrap !important;
    color: $white;
    border-radius: 0.2em;
    border: 0 none;
    padding: 0.1em 0.5em;
    margin: 0 0.5em 0.5em 0;
    text-decoration: none;
  }

  .author {
    background: $gray;

    &:hover {
      background: lighten($gray, 10%);
    }
  }

  .date {
    background: $gold;
  }

  .wordcount {
    color: $gray;
  }

  .type {
    background: darken($beige, 7%);
  }

  .tag {
    background: desaturate($red, 40%);


    &:hover {
      background: lighten($red, 10%);
    }
  }

  .category {
    background: $red;
  }

  .postpre {
    font-size: 0.9em;
    color: $darkgray;
    margin-bottom: 1em;
  }

  .postnav {

  }

  blockquote {
    font-style: italic;
  }

}