article {


  .gallery {
    display: block;
    clear: both;

    &:after {
      clear: both;
    }

    .image {
      height: auto;

      img {
        display: inline;
        height: auto;
      }
    }

    &.width-300 {
      .image {
        width: 300px;
        img {
          width: 300px;
        }
      }
    }

    &.width-400 {
      .image {
        width: 400px;
        img {
          width: 400px;
        }
      }
    }


  }

  img.bookcover {
    width: 150px;
    height: auto;
    margin: 0 1em 1em 0;
    border: 3px solid $lightgray;
    float: left;
  }

  .author,
  .date,
  .wordcount,
  .type {
    display: inline-block;
    white-space: nowrap !important;
    color: $white;
    border-radius: 0.2em;
    padding: 0.1em 0.5em;
    margin: 0 0.5em 0.5em 0;
  }

  .author {
    background: $gray;
  }

  .date {
    background: $gold;
  }

  .wordcount {
    color: $gray;
  }

  .type {
    background: darken($beige, 7%);
  }

  .postpre {
    font-size: 0.9em;
    color: $darkgray;
    margin-bottom: 1em;
  }

  .postnav {

  }

  blockquote {
    font-style: italic;
  }

}