.header {

  .logo {
    display: inline-block;
    float: left;
    margin: 0 1em 0.5em 0;
    padding: 0;

    a,
    a:visited {
      border: 0 none;
    }

    img {
      width: 150px;
      height: 150px;
      padding: 0;
      margin: 0;
      border-radius: 50%;

      @include media("<=phone") {
        width: 80px;
        height: 80px;
      }

    }
  }

  .teaser {
    display: block;
    padding: 1.8em 1em 0 0;

    @include media("<=phone") {
      padding: 0.5em 1em 0 0;
    }
  }

  h1 {
    font-size: 1.8em;
    line-height: 100%;
    margin: 0;
    padding: 0;

    @include media("<=phone") {
      font-size: 1.6em;
    }
  }

  h2 {
    font-size: 1em;
    line-height: 100%;
    margin: 1em 0 0 0;

    @include media("<=phone") {
      font-size: 0.8em;
      margin-top: 0.5em;
    }
  }
}