.main {

  .cards {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    @include media("<=phone") {
      margin: 0;
      text-align: left;
    }

  }

  .card {
    text-align: left;
    border: 1px solid $ultralightgray;
    border-radius: 0.2em;
    background: $white;
    box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.05);
    transition: $tr-scope $tr-speed $tr-mode;
    padding: 0;

    /* card sizing */
    width: 320px;

    /* elevate card hover effect */
    &:hover {
      box-shadow: 0 0.3em 0.6em 0 rgba(0,0,0,0.15);
      transition: $tr-scope $tr-speed $tr-mode;
      background-color: lighten($ultralightgray, 3%);
      border-color: darken($ultralightgray, 3%);

      h3 {
        color: $red;
        transition: $tr-scope $tr-speed $tr-mode;
      }
    }

    /* linking of the card */
    &> a {
      padding: 1em;
      display: block;
      color: $darkgray;
      text-decoration: none;
      transition: $tr-scope $tr-speed $tr-mode;
    }

    h3 {
      font-size: 1.3em;
      margin: 0 0 0.8em 0;
      transition: $tr-scope $tr-speed $tr-mode;
    }

  }

}
