.navbar {
  clear: left;
  color: $white;
  background-color: $red;
}

#collapsible {
  @include media("<=phone") {
    max-height: 0;
    overflow: hidden;
    transition: $tr-scope $tr-speed $tr-mode;

    &.expanded {
      max-height: 500px;
      transition: max-height 2*$tr-speed $tr-mode;
    }
  }
}

.menu {
  list-style: none;
  padding: 0 1em;
  height: auto;
  clear: right;
  display: block;
  text-transform: uppercase;
  font-size: 85%;
  text-rendering: geometricPrecision;
  letter-spacing: 0.4pt;

  @include media("<=phone") {
    font-size: 95%;
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
  }

  @include media(">desktop") {
    margin-left: 170px;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    @include media("<=phone") {
      display: block;
      width: 100%;
    }
  }

  a,
  a:visited {
    display: inline-block;
    padding: 0.4em 1em;
    margin: 0;
    text-decoration: none;
    color: $white;
    background-color: $red;
    transition: $tr-scope $tr-speed $tr-mode;
    border: 0 none;

    &:hover {
      color: $white;
      background-color: $gold;
      transition: $tr-scope $tr-speed $tr-mode;
    }

    &.active {
      background-color: $darkgray;
    }

    @include media("<=phone") {
      display: block;
      width: 100%;
      padding: 0.6em 0;
      margin: 0.6em 0;
    }
  }
}

/* animated hamburger menu icon -> changes to X when menu open*/

.toggler {
  border: none;
  outline: none;
  border-radius: 0;
  background: none;
  width:100%;
  padding: 0.4em 1em;

  &:focus,
  &:active {
    border: none;
    background: none;
    outline: none;
  }

  @include media(">phone") {
    display: none;
  }

}

.animated-menu-icon {
  float: right;
  width: 32px;
  height: 25px;
  margin: 8px 0 0 2px !important;
  position: relative;
  vertical-align:middle;
  transform: rotate(0deg);
  transition: 0.3s linear;
  cursor: pointer;
}

.animated-menu-icon > div {
  display:block;
  width:24px;
  position: absolute;
  padding: 0;
  background-color: $white;
  opacity: 1;
  left: 0;
  height: 3px;
  transform: rotate(0deg);
}

.animated-menu-icon div:nth-child(1) {
  top: 0;
  transform-origin: left center;
  transition: $tr-speed $tr-mode;
}

.animated-menu-icon div:nth-child(2) {
  top: 7px;
  transform-origin: left center;
  transition: 0.15s linear;
}

.animated-menu-icon div:nth-child(3) {
  top: 14px;
  transform-origin: left center;
  transition: $tr-speed $tr-mode;
}

.animated-menu-icon.expanded div:nth-child(1) {
  transform: rotate(45deg);
  width:22px;
  height: 3px;
  top: 0;
  left: 0;
}

.animated-menu-icon.expanded div:nth-child(2) {
  width: 0;
  opacity: 0;
}

.animated-menu-icon.expanded div:nth-child(3) {
  transform: rotate(-45deg);
  width:22px;
  height: 3px;
  top: 16px;
  left: 0;
}