// colors
$white: #F7F7F7;
$beige: #D1CABB;
$ultralightgray: #EAEAEA;
$lightgray: #CCCCCC;
$gray: #777777;
$darkgray: #333333;
$red: #A6200D;
$gold: #bf931a;
$blue: #0e52a5;

// transitions
$tr-speed: 600ms;
$tr-scope: all;
$tr-mode: cubic-bezier(0.15, 1.05, 0.9, 1);

// breakpoints (for include-media)
$breakpoints: (phone: 600px, tablet: 800px, desktop: 1024px, mega: 1600px);