h1 {
  font-size: 2rem;
  line-height: 145%;
  font-family: Martel, Garamond, "Times New Roman", serif;
  color: $darkgray;
  margin: 4rem 0 2rem 0;
}

article h1:first-of-type {
  margin-top: 1em;
}

h2 {
  font-size: 1.7rem;
  line-height: 145%;
  font-family: Martel, Garamond, "Times New Roman", serif;
  color: $darkgray;
  margin: 4rem 0 2rem 0;
}

h3 {
  font-size: 1.4rem;
  line-height: 145%;
  font-family: Martel, Garamond, "Times New Roman", serif;
  color: $darkgray;
  margin: 2rem 0 1rem 0;
}

.hide {
  display: none;
}