h1 {
  font-size: 1.6em;
  font-family: Eczar, Garamond, "Times New Roman", serif;
  color: $darkgray;
}

h2 {
  font-size: 1.1em;
  font-family: Eczar, Garamond, "Times New Roman", serif;
  color: $darkgray;
}

h3 {
  font-size: 1em;
  font-family: Eczar, Garamond, "Times New Roman", serif;
  color: $darkgray;
}