/* fonts first */
@import url('https://fonts.googleapis.com/css?family=Palanquin:300,700|Martel:700');

/* settings */
@import "partials/settings";

/* extensions */
@import "../../node_modules/include-media/dist/include-media";

/* reset styles */
@import "partials/reset";

/* import partials */
@import "partials/typography";
@import "partials/main";
@import "partials/header";
@import "partials/navigation";
@import "partials/article";
@import "partials/lists";
@import "partials/footer";
