/* fonts first */
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700|Eczar:400');

/* reset styles */
@import "partials/reset.scss";

/* extensions */
@import "../../node_modules/include-media/dist/include-media";


/* variables */

// colors
$white: #FAFAFA;
$beige: #D1CABB;
$lightgray: #CCCCCC;
$gray: #777777;
$darkgray: #333333;
$red: #A6200D;
$gold: #bf931a;

// transitions
$tr-speed: 350ms;
$tr-scope: all;
$tr-mode: cubic-bezier(0.4, 0.0, 0.2, 1);

// breakpoints (for include-media)
$breakpoints: (phone: 400px, tablet: 800px, desktop: 1024px);



/* main styling */

body {
  font-family: Assistant, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.67;
  background: url('/images/bg.png') repeat;

  @include media("<=phone") {
    font-size: 1em;
    line-height: 1.5;
  }

}

.container {

  width: 90%;
  max-width: 900px;

  height: auto;
  min-height: 90vh;

  margin: 2em auto;
  padding: 0;

  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
  background: $white;

  @include media("<=phone") {
    width: 100%;
    min-height: 100vh;
    margin: 0 0 0 0;
  }

}

.header,
.main,
.footer {
  margin: 0 1.4em;
  padding: 1em 0;

  @include media("<=phone") {
    margin: 0 1em;
    padding: 0.5em 0;
  }
}


/* hyperlinks */

a:hover {
  transition: $tr-scope, $tr-speed, $tr-mode;
}

/* header styles */

.header {

  .logo {
    display: block;
    float: left;
    padding: 0 1em 0.5em 0;

    img {
      width: 120px;
      height: auto;

      @include media("<=phone") {
        width: 80px;
        height: auto;
      }

    }
  }

  .teaser {
    display: block;
    padding: 1.4em 1em 0 0;

    @include media("<=phone") {
      padding: 1.5em 1em 0 0;
    }
  }

  h1 {
    font-family: Eczar, Garamond, "Times New Roman", serif;
    font-size: 1.8em;
    line-height: 100%;
    margin: 0;
    padding: 0;
    color: $darkgray;

    @include media("<=phone") {
      font-size: 1.6em;
    }
  }

  h2 {
    font-family: Eczar, Garamond, "Times New Roman", serif;
    font-size: 1em;
    line-height: 100%;
    margin: 1em 0 0 0;
    color: $darkgray;

    @include media("<=phone") {
      font-size: 0.8em;
      margin-top: 0.5em;
    }
  }
}


/* navigation styles */

.navigation {
  clear: left;
  list-style: none;
  background: $red;
  color: $white;
  padding: 0 1em;
  display: block;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  &.expanded {
    background-color: $darkgray;
  }

  a {
    display: inline-block;
    padding: 0.4em 1em;
    margin: 0;
    text-decoration: none;
    color: $white;
    background-color: $red;
    transition: $tr-scope $tr-speed $tr-mode;

    &:hover {
      color: $white;
      background-color: $gold;
      transition: $tr-scope $tr-speed $tr-mode;
    }

    &.active {
      background-color: $darkgray;
    }
  }
}


/* main article styles */

.main {

  h1 {
    font-size: 1.6em;
    font-family: Eczar, Garamond, "Times New Roman", serif;
    color: $darkgray;
  }

  h2 {
    font-size: 1.1em;
    font-family: Eczar, Garamond, "Times New Roman", serif;
    color: $darkgray;
  }

  img.bookcover {
    width: 150px;
    height: auto;
    margin: 0 1em 1em 0;
    border: 3px solid $lightgray;
    float: left;
  }

  .postpre {

    .author,
    .date,
    .wordcount {
      color: $white;
      border-radius: 4px;
      padding: 3px 5px;
      margin: 0 0.5em 1em 0;
    }

    .author {
      background: $gray;
    }

    .date {
      background: $gold;
    }

    .wordcount {
      color: $gray;
    }


    font-size: 0.8em;
    color: $darkgray;
    margin-bottom: 1em;
  }

  .postnav {

  }

  blockquote {
    font-style: italic;
  }

}


/* footer styles */

.footer {
  margin: 1em;
  padding: 1em;
  font-size: 0.8em;
  color: $gray;
}

