<!doctype html>
<html lang="de">
{{ partial "head-site" . }}
<body>
    <div class="container">
        {{ partial "header" . }}
        {{ partial "navbar" . }}
        <div class="main">
            <div class="cards">
                <div class="cards-sizer"></div>
                {{ range first 50 .Data.Pages }}
                    {{ .Render "card"}}
                {{ end }}
            </div>
            <div class="clear-left"></div>
        </div>
        {{ partial "footer" . }}
    </div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>