<div class="card">
    <div class="inner">
        <a href="{{ .Permalink }}">
            {{ if .Params.image }}
            <div class="imagebox">
                <div class="featuredimage" style="background-image: url('{{ .Params.image }}') "></div>
            </div>
            {{ end }}
            <article class="summary">
                <h3>
                    {{ .Title}}
                </h3>
                <p>
                    {{ .Summary }}
                </p>
                <span class="type">
                    Beitrag
                </span>
                <span class="date">
                {{ .Date.Format "02.01.2006" }}
            </span>
            </article>
        </a>
    </div>
</div>