<!doctype html>
<html lang="de">
{{partial "head" . }}
<body>
<div class="container">
    {{ partial "header" . }}
    {{ partial "navbar" . }}
    <div class="main">

        <h1> {{ .Title }}</h1>

        <div class="postpre">
            <em>
                {{ .WordCount }} Wörter, {{ .ReadingTime }} Minute(n)
            </em>
        </div>

        {{ .Content }}

        <div class="postnav">
            <span>
                <a href="{{ .Prev }}"></a>
            </span>
            <span>
                <a href="{{ .Next }}"></a>
            </span>
        </div>

    </div>
    {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>