<!doctype html>
<html lang="de">
{{ partial "head-single" . }}
<body>
<div class="container">
    {{ partial "header" . }}
    {{ partial "navbar" . }}
    <article class="main">
        <h1>{{ .Title }}</h1>

        <div class="postpre">
            {{ if .Params.authors }}
                {{ range .Params.authors }}
                    <a class="author" href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">
                        {{ . }}
                    </a>
                {{ end }}
            {{ end }}

            <span class="date" title="Publikationsdatum">
                {{ .Date.Format "02.01.2006" }}
            </span>
            <span class="wordcount">
                {{ .WordCount }} Wörter ({{ .ReadingTime }} Minuten)
            </span>
        </div>

        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="Beitragsbild" class="featuredimage" />
        {{ end }}

        <div>
            {{ .Content }}
        </div>

        <div class="postclose">
            {{ if .Params.category }}
                <h3>Kategorie</h3>
                <a class="category" href="{{ "/categories/" | relLangURL }}{{ .Params.category | urlize }}">{{ . }}</a>
            {{end}}
            {{ if .Params.tags }}
                <h3>Schlagwörter</h3>
                {{range .Params.tags}}
                    <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{end}}
            {{end}}
        </div>

        <div class="postnav">
            <span>
                <a href="{{ .Prev }}"></a>
            </span>
            <span>
                <a href="{{ .Next }}"></a>
            </span>
        </div>

        {{partial "schema/post" . }}
    </article>
    {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>