<!doctype html>
<html lang="de">
{{partial "head" . }}
<body>
<div class="container">
    {{ partial "header" . }}
    {{ partial "navbar" . }}
    <article class="main" itemscope itemtype="http://schema.org/Article">

        <h1 itemprop="name">{{ .Title }}</h1>

        <div class="postpre">
            <span class="author" title="Author" itemprop="author">
                {{ .Params.author }}
            </span>
            <span class="date" title="Publikationsdatum" itemprop="datePublished">
                {{ .Date.Format "02.01.2006" }}
            </span>
            <span class="wordcount">
                <span itemprop="wordCount">{{ .WordCount }}</span> Wörter ({{ .ReadingTime }} Minuten)
            </span>
        </div>

        <div itemprop="articleBody">
            {{ .Content }}
        </div>

        <div class="postnav">
            <span>
                <a href="{{ .Prev }}"></a>
            </span>
            <span>
                <a href="{{ .Next }}"></a>
            </span>
        </div>

    </article>
    {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>