<div class="card">
    <div class="inner">
        <a href="{{ .Permalink }}">
            {{ if .Params.image }}
            <div class="imagebox">
                <div class="featuredimage" style="background-image: url('{{ .Params.image }}') "></div>
            </div>
            {{ end }}
            <article class="summary">
                <h3>{{ .Title}}</h3>
                <span class="type">Termin</span>
                {{ if .Params.eventDate }}
                <span class="date">
                    am {{ dateFormat "02.01.2006" .Params.eventDate }}{{ if .Params.eventTime }}, {{ .Params.eventTime }}h{{ end }}
                </span>
                {{ end }}
            </article>
        </a>
    </div>
</div>
